body{
    background-color:#005A31;
    color:#F3FAB6;
}
.panel-body p{
    color: black;
}
.navbar-inverse {
    background-color:#A8CD1B;
}
.navbar-inverse .navbar-brand {
    color:black;
}
.navbar-inverse .navbar-nav>li>a {
    color:black;
}
a{
    color:black;
}
.nav-tabs.nav-justified {
    background-color:#A8CD1B;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color:lightblue;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    background-color:lightblue;
}